
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

li {
	list-style-type: none;
}



body{
	font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
	background-color: #F3F3F3;
	font-size: 0.875rem !important;


}

a:hover {

	text-decoration: none;
	color: inherit ;


}

a:focus{
	text-decoration: none;
	color: inherit;
}

a:active {

	font-style: inherit;

	text-decoration: none;


}



/*inicio imagens*/
.contato-panel-ativo > div.imagem{
	width:48px;
	height:48px;
	margin-top: 8px;
	background: url('https://aridesa.com.br/wp-content/uploads/2021/03/iconramais_pb-1.png') no-repeat;
}
.blogari{
	background-image: url("https://aridesa.com.br/wp-content/uploads/2021/03/Group-163-6.png") ;

	width:921px;
	height: 267px;
}
.blogari-mobile{
	background: url("https://aridesa.com.br/wp-content/uploads/2021/03/banner_blog_mobile.png") no-repeat;

	background-size: auto;
}
.img-blog
{
	border-radius: 8px;
	width:280px;
	height: 252px;
	
}

a.links-info{
	color: inherit;
}
.img-blog-mobile
{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	width:260px;
	height: 230px;
	
}
.contato-panel-ativo.active > div.imagem{
	width:48px;
	height:48px;
	background: url('https://aridesa.com.br/wp-content/uploads/2021/03/iconramais-3.png') no-repeat;
}
/*CALENDÃRIO*/
#calendarTitle {
	font-family: 'Noto Sans', sans-serif !important;
	color: white !important;
	font-weight: bold;
	padding-left: 2px;
}
@media only screen and (min-width : 320px) {
	.jumbotron {
		background-image: url("src/bannermobile.svg");
	}
}
.accordion-contato {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin-bottom: 1px;
}
button.accordion-contato {
	padding-top: 5px;
	padding-bottom: 5px;
	color:white;
	font-weight: 600;
	line-height: 13px;
	text-transform: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titulo-setor{
	color: #004CA0;
}

/*fim imagens*/
#customers {
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding-left: 8px;


}

#customers tr:hover {
	background-color: #ddd;

}

.accordion-panel {
	display: none;
	background-color: white;
	overflow: hidden;
}

.contato-panel-ativo  {
	background-color: white;
	border: 1px solid #E0E0E0;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	color:#BDBDBD;
	border-radius: 5px;
	width: 100%;
	height:60px;
	padding-left: 10px;
	margin-bottom:8px;
	display: flex;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 1rem;

	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.contato-panel-ativo.active{
	background-color:#034EA2;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 1rem;

	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	cursor: pointer;
}
.tabcontent {
	display: block;
	padding: 30px;
	width: 100%;
	border: 1px solid #E0E0E0;
	margin-left: 0px;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	border-radius: 5px;
	background-color: white;
}

footer{
	background-color: #DBE8F6 ;
}

p{
	font-family: "Poppins", system-ui;
	font-weight: 400;
	font-style: normal;


}

h1{
	font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
	font-size: 5rem;
	color:#151515;

}

h2{
	font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
	font-size: 2.25 rem;
	color:#151515;

}

h3{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color:#034EA2;

}

h4{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.125rem;
	color:#151515;

}

h5{
	font-family: 'Fira Sans', sans-serif;s
	font-weight: bold;
	font-size: 1.75rem;
	color:#151515;

}

h6{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color:#151515;

}

.button-header{
	background-color: #ffffff;
	border-style: none;
	font-size: 2.5rem;
	font-weight: 700;
	color: #600F8D;
}

.bg-header{

  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 100%);
  font-weight: 700;
}

p.cardtext{
	font-family: 'noto sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
}



h6{
	font-family: 'noto Sans', sans-serif;
	font-weight: 700;
	font-size: 0.875rem;
	color:white;
	margin:auto;
	letter-spacing: 0px;


}

.borda-lgpd{
	width:150px;
	margin-left: 0px;
	height: 3px;
	border-radius: 5px;
	border-top:0;
	background-color: #FFCC29;
	margin-top: 3px;
}

.borda-titulo{
	width: 150px;
	height: 5px;
	border-radius: 5px;
	border-top:0;
	background-color: #FFCC29;
	margin-top: 5px;
}

.aniv{
	display: table;
  overflow-y: auto;
  max-width: 460px;
	border-radius: 10px;
}

.links-import{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.25px;

	font-size:  1.125rem;
	color:#034EA2;

}
.button-type{
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 0.875rem;
	background-color: #034EA2;
	border-color: #034EA2 !important;


}

.listaniv {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;


	background-color: #DBE8F6;
}

.listaniv td {

	padding: 8px;
}

.anivborder{
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;

}
.listaniv  tr:nth-child(even){background-color: #F6F9FF;}

.listaniv  tr:hover {background-color: white;}

.nav-link{
	margin-left: 10px;

}
.footer-title{
	font-family: 'noto Sans', sans-serif;
	font-weight: 700;
	font-size: 0.875rem;


}

.img-card-info{
	border-radius: 4%;
	width: 100%;
	height: 190px;
}

.img-links{
	border-radius: 12px !important;
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	-webkit-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	-moz-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	background-color: #ffffff;

}

.iconportal{
	position: relative;
	left: 20px;
	top:10px;
	height:64px;
	width:64px;

}
.linksimport{
	color: black!important;
}

.bg-aniv{
	background-color: #DBE8F6;
	border-radius: 4px;
}

.mr-n5 {
	margin-right: -0.255rem !important;
}



/* NAV ITEM*/


.navbar-nav .nav-item:hover > a h5 {
	color: #034EA2;}
	.active .navbar-nav .nav-item:hover > a h5 {
		color: #034EA2;}