
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

li {
	list-style-type: none;
}



body{
	font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
	background-color: #F3F3F3;
	font-size: 0.875rem !important;


}

a:hover {

	text-decoration: none;
	color: inherit ;


}

a:focus{
	text-decoration: none;
	color: inherit;
}

a:active {

	font-style: inherit;

	text-decoration: none;


}



footer{
	background-color: #DBE8F6 ;
}

p{
	font-family: "Poppins", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;


}

h1{
	font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
	font-size: 5rem;
	color:#151515;

}

h2{
	font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
	font-size: 2.25 rem;
	color:#151515;

}

h3{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color:#034EA2;

}

h4{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 1.125rem;
	color:#151515;

}

h5{
	font-family:"Poppins", system-ui;
	font-weight: 400;
	font-size: 1.20rem;
	color:#151515;

}

h6{
	font-family: "Poppins", system-ui;
	font-weight: 300;
	font-size: 1rem;
	color:#151515;

}

.title-card-services {
	font-family:"Poppins", system-ui;
	font-weight: 600;
	font-size: 1.6rem;
	color:#151515;
}

.button-header{
	background-color: #ffffff;
	border-style: none;
	font-size: 2rem;
	font-weight: 700;
	color: #600F8D;
}


.button-header:hover{
	background-color: hwb(35 3% 15%);
	
}

.bg-criare{

  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 100%);
  font-weight: 700;
}


.borda-lgpd{
	width:150px;
	margin-left: 0px;
	height: 3px;
	border-radius: 5px;
	border-top:0;
	background-color: #FFCC29;
	margin-top: 3px;
}

.borda-titulo{
	width: 150px;
	height: 5px;
	border-radius: 5px;
	border-top:0;
	background-color: #FFCC29;
	margin-top: 5px;
}

.aniv{
	display: table;
  overflow-y: auto;
  max-width: 460px;
	border-radius: 10px;
}

.links-import{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.25px;

	font-size:  1.125rem;
	color:#034EA2;

}
.button-type{
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 0.875rem;
	background-color: #034EA2;
	border-color: #034EA2 !important;


}

.listaniv {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;


	background-color: #DBE8F6;
}

.listaniv td {

	padding: 8px;
}

.anivborder{
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;

}
.listaniv  tr:nth-child(even){background-color: #F6F9FF;}

.listaniv  tr:hover {background-color: white;}

.nav-link{
	margin-left: 10px;

}
.footer-title{
	font-family: 'noto Sans', sans-serif;
	font-weight: 700;
	font-size: 0.875rem;


}

.img-card-info{
	border-radius: 4%;
	width: 100%;
	height: 190px;
}

.img-links{
	border-radius: 12px !important;
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	-webkit-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	-moz-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);
	background-color: #ffffff;

}

.iconportal{
	position: relative;
	left: 20px;
	top:10px;
	height:64px;
	width:64px;

}
.linksimport{
	color: black!important;
}

.bg-aniv{
	background-color: #DBE8F6;
	border-radius: 4px;
}

.mr-n5 {
	margin-right: -0.255rem !important;
}



/* NAV ITEM*/


.navbar-nav .nav-item:hover > a h5 {
	color: #034EA2;}
	.active .navbar-nav .nav-item:hover > a h5 {
		color: #034EA2;}